<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Repositorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="repos.length">
    <ion-item *ngFor="let repo of repos">
      <ion-thumbnail slot="start">
        <img [alt]="repo.name" [src]="repo.owner.avatar_url"/>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ repo.name }}</h2>
        <p>{{ repo.description }}</p>
        <p>{{ repo.language }}</p>
        <p><strong>Propietario:</strong> {{ repo.owner.login }}</p>
      </ion-label>
      <ion-button color="dark" (click)="confirmDelete(repo.owner.login, repo.name)">
        <ion-icon slot="icon-only" name="trash" class="ion-color-dark"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="editRepository(repo.owner.login, repo.name)">
        <ion-icon slot="icon-only" name="create" class="ion-color-dark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div *ngIf="!repos.length">No se pueden obtener los repositorios</div>
</ion-content>